@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo.woff2") format("woff2"),
    url("/fonts/Archivo.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src:
    url("/fonts/Archivo Italic.woff2") format("woff2"),
    url("/fonts/Archivo Italic.woff") format("woff");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("/fonts/Clash Display Variable.woff2") format("woff2"),
    url("/fonts/Clash Display Variable.woff") format("woff");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;

  /* =============== TYPOGRAPHY =============== */

  /* Font families (CSS variables) */
  --font-body: "Archivo", sans-serif;
  --font-heading: "ClashDisplay", sans-serif;

  /* Font-weight*/
  --heading-font-weight: 600;
  --button-font-weight: 400;
  --ad-dag-font-weight: 500;
  --text-font-weight: 300;

  /* Headings*/
  --h1-size: clamp(1.875rem, 1.602rem + 1.1494vw, 2.5rem);
  --h1-line-height: 1.2;
  --h1-max-width: 60ch;

  --h2-size: clamp(1.5625rem, 1.3714rem + 0.8046vw, 2rem);
  --h2-line-height: 1.3;
  --h2-max-width: 65ch;

  --h3-size: clamp(1.375rem, 1.2658rem + 0.4598vw, 1.625rem);
  --h3-line-height: 1.3;
  --h3-max-width: 65ch;

  --h4-size: 23px;
  --h4-line-height: 1.4;
  --h4-max-width: 70ch;

  --h5-size: 20px;
  --h5-line-height: 1.4;
  --h5-max-width: 70ch;

  /* Paragraphs */
  --p-l-size: 19px;
  --p-l-line-height: 1.6;
  --p-l-max-width: 70ch;

  --p-m-size: 18px;
  --p-m-line-height: 1.7;
  --p-m-max-width: 70ch;

  --p-s-size: 17px;
  --p-s-line-height: 1.8;
  --p-s-max-width: 70ch;

  --p-xs-size: 16px;
  --p-xs-line-height: 1.8;
  --p-xs-max-width: 70ch;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;

  /* =============== COLOR =============== */

  /* Base HSL system */
  --blue-hue: 213;
  --blue-sat: 100%;

  --orange-hue: 10;
  --orange-sat: 80%;

  --neutral-hue: 213;
  --neutral-sat: 10%;

  /*PRIMARY COLORS */
  --primary-blue: hsl(var(--blue-hue), var(--blue-sat), 28%);
  --primary-orange: hsl(var(--orange-hue), var(--orange-sat), 55%);
  --background: hsl(0, 0%, 98%);
  --text-white: hsl(0, 0%, 100%);
  --text-darkblue: hsl(var(--blue-hue), var(--blue-sat), 5%);

  /*ACCENT COLORS*/
  /* darker */
  --blue-900: hsl(var(--blue-hue), var(--blue-sat), 8%);
  --blue-800: hsl(var(--blue-hue), var(--blue-sat), 13%);

  /* lighter */
  --blue-600: hsl(var(--blue-hue), var(--blue-sat), 38%);
  --blue-500: hsl(var(--blue-hue), var(--blue-sat), 48%);
  --blue-400: hsl(var(--blue-hue), var(--blue-sat), 58%);
  --blue-300: hsl(var(--blue-hue), var(--blue-sat), 68%);
  --blue-200: hsl(var(--blue-hue), var(--blue-sat), 78%);
  --blue-150: hsl(var(--blue-hue), var(--blue-sat), 90%);
  --blue-100: hsl(var(--blue-hue), var(--blue-sat), 95%);

  /* darker */
  --orange-900: hsl(var(--orange-hue), var(--orange-sat), 45%);

  /* lighter */
  --orange-500: hsl(var(--orange-hue), var(--orange-sat), 65%);
  --orange-300: hsl(var(--orange-hue), var(--orange-sat), 75%);
  --orange-100: hsl(var(--orange-hue), var(--orange-sat), 85%);

  /*NEUTRAL COLORS*/
  --neutral-900: hsl(var(--neutral-hue), var(--neutral-sat), 9%);
  --neutral-800: hsl(var(--neutral-hue), var(--neutral-sat), 12%);
  --neutral-700: hsl(var(--neutral-hue), var(--neutral-sat), 18%);
  --neutral-600: hsl(var(--neutral-hue), var(--neutral-sat), 33%);
  --neutral-500: hsl(var(--neutral-hue), var(--neutral-sat), 35%);
  --neutral-300: hsl(var(--neutral-hue), var(--neutral-sat), 69%);
  --neutral-200: hsl(var(--neutral-hue), var(--neutral-sat), 84%);

  /* =============== BUTTONS =============== */

  /* Outline White Button */
  --button-blue-bg: var(--primary-blue);
  --button-blue-text: var(--text-white);
  --button-blue-border: 1.5px solid var(--text-white);
  --button-blue-radius: 15px;
  --button-blue-padding: 1.1rem 1.8rem;
  --button-blue-font-size: 16px;
  --button-blue-font-family: var(--font-heading);

  /* Outline Blue Button */
  --button-outline-bg: var(--text-white);
  --button-outline-text: var(--primary-blue);
  --button-outline-border: 1.5px solid var(--primary-blue);
  --button-outline-radius: 15px;
  --button-outline-padding: 1.1rem 1.8rem;
  --button-outline-font-size: 16px;
  --button-outline-font-family: var(--font-heading);
}

/* =============== GLOBAL STYLES =============== */

/* Focus state */
*:focus-visible {
  outline: 3px dashed var(--primary-orange);
  outline-offset: 4px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--heading-font-weight);
  color: var(--blue-800);
  text-wrap: balance;
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  max-width: var(--h1-max-width);
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  max-width: var(--h2-max-width);
}

h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
  max-width: var(--h3-max-width);
}

h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
  max-width: var(--h4-max-width);
}

h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
  max-width: var(--h5-max-width);
}

/* Paragraphs */
p {
  font-family: var(--font-body);
  font-weight: var(--text-font-weight);
  font-size: var(--p-s-size);
  line-height: var(--p-s-line-height);
  max-width: var(--p-s-max-width);
}

/* Buttons */
.button-outline-white {
  background: var(--button-blue-bg);
  color: var(--button-blue-text);
  border: var(--button-blue-border);
  border-radius: var(--button-blue-radius);
  padding: var(--button-blue-padding);
  font-size: var(--button-blue-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
  font-family: var(--button-blue-font-family);
  width: fit-content;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: var(--text-white);
    color: var(--primary-blue);
    border: var(--button-outline-border);
  }
}

.button-outline-blue {
  background: #00000000;
  color: var(--button-outline-text);
  border: var(--button-outline-border);
  border-radius: var(--button-outline-radius);
  padding: var(--button-outline-padding);
  font-size: var(--button-outline-font-size);
  font-weight: var(--button-font-weight);
  font-family: var(--button-outline-font-family);
  cursor: pointer;
  width: fit-content;
  transition: ease-in-out 0.2s;

  &:hover {
    background-color: var(--primary-blue);
    color: var(--text-white);
    border: var(--button-blue-border);
  }
}

a {
  font-weight: var(--button-font-weight);
  font-family: var(--button-outline-font-family);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 4px 10px rgba(0, 64, 141, 0.2); */
  }
}
