/* Activate view page transition */
@view-transition {
    navigation: auto;
}

main {
    view-transition-name: content;
}

/* Animation forwards */
html.forwards {
    --old-move: move-out-left;
    --new-move: move-in-right;
}

/* Animation backwards */
html.backwards {
    --old-move: move-out-right;
    --new-move: move-in-left;
}

/* Apply animation */
html::view-transition-old(content) {
    animation: .6s ease-in both var(--old-move);
}

html::view-transition-new(content) {
    animation: .6s ease-in both var(--new-move);
}


/* Animations for slide and out (old and new) */
@keyframes move-out-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes move-out-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes move-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}
